<div class="contextual">
  <%= link_to l(:label_kanban_board_new), new_admin_kanban_board_path, :class => 'icon icon-add' %>
</div>

<h2><%=l(:label_kanban_board_plural)%></h2>

<div class="autoscroll">
<table class="list">
  <thead><tr>
  <th><%=l(:field_name)%></th>
  <th>&nbsp;</th>
  </tr></thead>
  <tbody>
<% @resources.each do |resource| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td class="name"><span><%= link_to resource.name, edit_admin_kanban_board_path(resource) %></span></td>
    <td class="buttons">
      <%= link_to(l(:button_delete), admin_kanban_board_path(resource), :method => :delete, :confirm => l(:text_kanban_board_destroy_confirmation), :class => 'icon icon-del') %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>
</div>

<% html_title(l(:label_kanban_board_plural)) -%>
